@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  max-height: 100%;
  display: flex;
}

#logo {
  width: 5vw;
  margin: 0 0.25vw 0 1vw;
  padding: 0.5vh 0;
}

#logo-text {
  font-size: 2.4vw;
  color: #eee;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(24, 158, 211);
}

header h3 {
  font-size: 1.3vw;
}

.App,
#root {
  min-height: 100%;
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(95, 125, 223);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 14%;
  min-height: 100%;
  padding: 1.8% 0;
  height: fit-content;
  row-gap: 1vw;
}

.card {
  align-items: center;
  background-color: #31b6f3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 1vw;
  padding-top: 10px;
  width: 20%;
}

.card > img {
  width: 95%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

p {
  margin: 5px;
  text-align: center;
  color: #eee;
  font-size: 1.5vw;
  font-weight: bold;
}

header > h3 {
  margin-right: 3vw;
  color: orange;
}
